In [2]:
import pandas as pd
import numpy as np

# Importação da base dedados e  ler os 10 primeiros registros

In [7]:
data = pd.read_csv('./dataset/aluguel.csv' ,sep=";")
data.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

# Colocando os tipos em um dataframe

<p> a coluna variavel é o indice do dataframe</p>

In [9]:
 data_type =  pd.DataFrame(data.dtypes ,columns=['Tipo de Dados' ])
 data_type.columns.name = "Variaveis" 
 data_type

Variaveis  Tipo de Dados
Tipo              object
Bairro            object
Quartos            int64
Vagas              int64
Suites             int64
Area               int64
Valor            float64
Condominio       float64
IPTU             float64

# Selecionando a primeira coluna

In [7]:
tipo_imovel = data['Tipo']
tipo_imovel

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

# Retirando dados duplicados
<p> <code>Inplace</code> altera a propria instancia do objeto fazendo com que não seja presciso atribuir a uma nova variavel, removendo a imutabilidade do pandas </p>

In [13]:
tipo_imovel.drop_duplicates(inplace=True)
tipo_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

#Obtendo o tamanho da Series e Dataframe

In [17]:
print('Quantidade de linhas da Series ', tipo_imovel.shape[0])

Quantidade de linhas da Series  22

In [23]:
print('Quantidade de linhas:' , data.shape[0] , ' e colunas:', data.shape[1] , 'no Dataframe')

Quantidade de linhas: 32960  e colunas: 9 no Dataframe

## Definindo um index novo usando a função range que gera numeros do segundo parametro 'start' até o 'stop' ultimo parametro, o primeiro 'step' , é de quanto em quanto será interavel o range

In [36]:
tipo_imovel.index = range(1,tipo_imovel.shape[0]+1)
tipo_imovel

1                       Quitinete
2                            Casa
3         Conjunto Comercial/Sala
4                     Apartamento
5              Casa de Condomínio
6                  Prédio Inteiro
7                            Flat
8                      Loja/Salão
9         Galpão/Depósito/Armazém
10                 Casa Comercial
11                   Casa de Vila
12                 Terreno Padrão
13                    Box/Garagem
14                           Loft
15    Loja Shopping/ Ct Comercial
16                        Chácara
17          Loteamento/Condomínio
18                          Sítio
19                  Pousada/Chalé
20                         Studio
21                          Hotel
22                      Indústria
Name: Tipo, dtype: object

# Gerando um data frame a partir de uma series existente

In [38]:
df_tipo_imovel = pd.DataFrame(tipo_imovel)
df_tipo_imovel

                           Tipo
1                     Quitinete
2                          Casa
3       Conjunto Comercial/Sala
4                   Apartamento
5            Casa de Condomínio
6                Prédio Inteiro
7                          Flat
8                    Loja/Salão
9       Galpão/Depósito/Armazém
10               Casa Comercial
11                 Casa de Vila
12               Terreno Padrão
13                  Box/Garagem
14                         Loft
15  Loja Shopping/ Ct Comercial
16                      Chácara
17        Loteamento/Condomínio
18                        Sítio
19                Pousada/Chalé
20                       Studio
21                        Hotel
22                    Indústria

# Renomeando a coluna de varias formas

In [50]:
#df_tipo_imovel.columns = ['Tipo Imovel']
#df_tipo_imovel.rename(columns={'Tipo':'Tipo Imovel'} , inplace=True)
df_tipo_imovel.rename({'Tipo':'Tipo Imovel'} , inplace=True,axis=1)
df_tipo_imovel

                    Tipo Imovel
1                     Quitinete
2                          Casa
3       Conjunto Comercial/Sala
4                   Apartamento
5            Casa de Condomínio
6                Prédio Inteiro
7                          Flat
8                    Loja/Salão
9       Galpão/Depósito/Armazém
10               Casa Comercial
11                 Casa de Vila
12               Terreno Padrão
13                  Box/Garagem
14                         Loft
15  Loja Shopping/ Ct Comercial
16                      Chácara
17        Loteamento/Condomínio
18                        Sítio
19                Pousada/Chalé
20                       Studio
21                        Hotel
22                    Indústria

In [53]:
list(data['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [65]:
residencial = ['Quitinete', 'Casa','Apartamento','Casa de Condomínio']
kernel_residencial = data['Tipo'].isin(residencial)
kernel_residencial

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [68]:
data_residencial = data[kernel_residencial]
data_residencial.index = range(1, data_residencial.shape[0]+1)
data_residencial

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
1        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
2             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
3      Apartamento                Centro        1  ...   800.0       390.0  20.0
4      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
5      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
22327  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22328    Quitinete                Centro        0  ...   800.0       350.0  25.0
22329  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22330  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22331  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22331 rows x 9 columns]